@import "../../responsive.scss";
.profilepage{
    display: flex;
    height: 100%;

    @include md{
        flex-direction: column;
        overflow: scroll;
    }

    .details{
        flex: 3;
        overflow-y:scroll ;
        padding-bottom: 50px;

        @include md{
            flex: none;
            height: max-content;
        }
        .wrapper{
            padding-right: 50px;
            display: flex;
            flex-direction: column;
            gap: 50px;
            .title{
                display: flex;
                justify-content: space-between;
                align-items: center;
                h1{
                    font-weight: 300;
                }
                button{
                    padding: 12px 24px;
                    background-color: rgba(18, 165, 18, 0.932);
                    color: #fff;
                    border: none;
                    cursor: pointer;
                    border-radius: 5px;
                }
            }
            .info{
                display: flex;
                flex-direction: column;
                gap: 20px;

                span{
                    display: flex;
                    align-items: center;
                    gap: 20px;
                }
                button{
                    width: 100px;
                    border: none;
                    background-color: #ed3737;
                    color: white;
                    padding: 10px 20px;
                    cursor: pointer;
                    border-radius: 5px;
                }
                img{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                }
            }
        }
    }
    .chatContainer{
        flex: 2;
        height: 100%;
        background-color: #acccf4;
        @include md{
            flex: none;
            height: max-content;
        }
        .wrapper{
            padding:0px 20px;
            height: 100%;
        }
    }
}